In [55]:
import pandas as pd 
# initialize list of lists 
data = [['San Jose', "South", 2.8, 2.4], ['Cupertino', "North", 3.3, 3.4], ['Campbell', "Central", 2.9, 3.0]]

In [56]:
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['city', 'loc', "jan", "feb"]) 
  
# print dataframe. 
# df.set_index('city')
# df.set_index('month')
print(df)

        city      loc  jan  feb
0   San Jose    South  2.8  2.4
1  Cupertino    North  3.3  3.4
2   Campbell  Central  2.9  3.0

In [57]:

df["sum"] = df.sum(axis=1)
print(df)

        city      loc  jan  feb  sum
0   San Jose    South  2.8  2.4  5.2
1  Cupertino    North  3.3  3.4  6.7
2   Campbell  Central  2.9  3.0  5.9

In [58]:
print(f'{df["sum"].max():.1f}')

6.7

In [59]:
df[df.values == df["sum"].max()]["city"]

1    Cupertino
Name: city, dtype: object

In [60]:
# data
# data.drop(columns=["loc"], inplace=True)

In [61]:
data = pd.read_csv("sc_county.csv", index_col="city")
print(data, '\n')
print(data.shape, "\n")
print(data.head(5), "\n")

                 loc  jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  \
city
San Jose       south  2.8  2.4  3.0  3.1  2.7  2.7  2.4  2.2  2.0  2.0  2.2
Cupertino      north  3.3  3.4  3.3  3.5  3.5  3.6  3.7  3.5  3.5  3.4  3.3
Santa Clara  central  3.0  3.0  3.1  3.2  3.2  3.1  3.2  3.2  3.0  2.9  2.8
Campbell     central  2.9  3.0  3.8  2.8  2.8  2.8  2.8  2.6  2.7  2.7  2.7

             dec
city
San Jose     2.3
Cupertino    3.3
Santa Clara  3.0
Campbell     2.7

(4, 13)

                 loc  jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  \
city
San Jose       south  2.8  2.4  3.0  3.1  2.7  2.7  2.4  2.2  2.0  2.0  2.2
Cupertino      north  3.3  3.4  3.3  3.5  3.5  3.6  3.7  3.5  3.5  3.4  3.3
Santa Clara  central  3.0  3.0  3.1  3.2  3.2  3.1  3.2  3.2  3.0  2.9  2.8
Campbell     central  2.9  3.0  3.8  2.8  2.8  2.8  2.8  2.6  2.7  2.7  2.7

             dec
city
San Jose     2.3
Cupertino    3.3
Santa Clara  3.0
Campbell     2.7

In [40]:
# data.drop(columns=["loc"])
type(data)
data.drop(columns=["loc"], inplace=True)
print(data, "\n")

             jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
city
San Jose     2.8  2.4  3.0  3.1  2.7  2.7  2.4  2.2  2.0  2.0  2.2  2.3
Cupertino    3.3  3.4  3.3  3.5  3.5  3.6  3.7  3.5  3.5  3.4  3.3  3.3
Santa Clara  3.0  3.0  3.1  3.2  3.2  3.1  3.2  3.2  3.0  2.9  2.8  3.0
Campbell     2.9  3.0  3.8  2.8  2.8  2.8  2.8  2.6  2.7  2.7  2.7  2.7

In [41]:
data["sum"] = data.sum(axis=1)
print(data, "\n")

             jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec   sum
city
San Jose     2.8  2.4  3.0  3.1  2.7  2.7  2.4  2.2  2.0  2.0  2.2  2.3  29.8
Cupertino    3.3  3.4  3.3  3.5  3.5  3.6  3.7  3.5  3.5  3.4  3.3  3.3  41.3
Santa Clara  3.0  3.0  3.1  3.2  3.2  3.1  3.2  3.2  3.0  2.9  2.8  3.0  36.7
Campbell     2.9  3.0  3.8  2.8  2.8  2.8  2.8  2.6  2.7  2.7  2.7  2.7  34.3

In [52]:
print(data[data.values == data["sum"].max()])
print(data[data.values == data["sum"].max()].index.values)

           jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec   sum
city
Cupertino  3.3  3.4  3.3  3.5  3.5  3.6  3.7  3.5  3.5  3.4  3.3  3.3  41.3
['Cupertino']

In [43]:
index = data.index

In [44]:
print(index)

Index(['San Jose', 'Cupertino', 'Santa Clara', 'Campbell'], dtype='object', name='city')

In [53]:
# print(index[data.values == data["sum"].max()])

In [54]:
data.loc["San Jose"].min()

2.0

In [ ]:
total = data.sum()